.experience-container {
  margin: 4rem 0;
  position: relative;
}

.experience-container h5 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.arrow-right,
.arrow-left {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #0098f1;
  color: #0098f1;
  position: absolute;
  top: 58%;
  background: #070331;
  z-index: 2;
  cursor: pointer;
}

.arrow-left span,
.arrow-right span {
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left {
  left: -0.5rem;
}

.arrow-right {
  right: -0.5rem;
}

@media (max-width: 768px) {
  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .arrow-right,
  .arrow-left {
    margin: -1rem;
    top: 62%;
  }
}
