.skills-card {
  border-radius: 0.65rem;
  padding: 2.5rem;
  border: 1.5px solid #0098f1;
  background: rgba(22, 17, 47, 0.398);
  text-align: center;
  backdrop-filter: blur(1rem);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.skills-card:hover,
.skills-card.active {
  background: linear-gradient(90deg, #0098f1 0%, #00ccff 100%);
}

.skills-icon img {
  width: 2.5rem;
  height: auto;
  object-fit: contain;
}
.skills-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #070331;
  border: 1px solid #00ccff;
  border-radius: 0.65rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.skills-card span {
  font-weight: r00;
  font-size: 1.5rem;
}

@media (min-width: 1025px) {
  .skills-card {
    padding: 2rem;
  }
  .skills-card span {
    font-size: 1rem;
  }

  .skills-icon {
    width: 3rem;
    height: 3rem;
  }
  .skills-icon img {
    width: 1.8rem;
  }
}

@media (min-width: 768px) {
  .skills-card span {
    font-size: 0.9rem;
  }
}
